@import '../../config/variable.scss';

.tag-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    height: 20em;
}